body{
    width: 10wv;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
}
.Quiz{
    width: 600px;
    text-align: center;
    background-color:#ffff;
    border-radius: 10px;
    

}
.option{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-size: 10px;
  
  

}
button{
       text-align: center;
    cursor: pointer;
    border-radius:20%;
    margin-bottom: 10px;
}
.h2{
    padding: 10px;
    margin: 10px;
}
.time{
   margin: 10px;
}
span{
    font-weight: 500;
}
p{
    margin: 10px;

}